body {
    background-color: #f1f1f1;
}

#comma {
    margin: 0px;
    font-size: 15em;
    font-family: 'Times New Roman', Times, serif;
    color: #333333;
    text-shadow: 2px 2px #b8b8b8;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#comma::selection {
    background-color: #333333;
    color: #ffffff;
}

#comma::-moz-selection {
    background-color: #333333;
    color: #ffffff;
}

#error {
    cursor: pointer;
    margin: 0px;
    color: #333333;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#copy {
    cursor: pointer;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    bottom: 1%;
    right: 1%;
    color: #b8b8b8;
}

#copy:hover {
    color: #333333;
}

#copy:active {
    color: #777777;
}