body {
    background-color: #333333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#comma {
    margin: 0px;
    font-size: 15em;
    font-family: 'Times New Roman', Times, serif;
    color: #f1f1f1;
    text-shadow: 2px 2px #b8b8b8;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#comma::selection {
    color: #333333;
    background-color: #fffffffe;
}

#comma::-moz-selection {
    color: #333333;
    background-color: #fffffffe;
}

#error {
    cursor: default;
    margin: 0px;
    color: #ffffff;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#copy {
    cursor: pointer;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    bottom: 1%;
    right: 1%;
    color: #ffffff;
    transition: color 0.2s, font-size 0.05s;
}

#copy:hover {
    font-size: 2.5em;
    color: #dfdfdf;
}

#copy:active {
    font-size: 2.4em;
    color: #c0c0c0;
}

.anim {
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {
    from {
        opacity: 0;
        filter: Alpha(opacity=0);
    }

    to {
        opacity: 1;
        filter: Alpha(opacity=1);
    }
}

@font-face {
    font-family: 'Roboto';
    src: url('/resources/Roboto-Light.ttf')
}